.logincontainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loginform {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  height: 300px;
  justify-content: space-around;
}
