.pdes {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.productparticular {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  justify-content: center;
  text-align: center;
  gap: var(--ppk-gap-m);
  max-height: 85vh;

  padding: 1rem;
  padding-bottom: 10px;
}

.product {
  border: 2px solid black;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 593px) {
  .product {
    width: 300px;
  }
}
