header {
  display: flex;
  font-size: 18px;
  width: 100%;
  padding: 10px;
  margin-right: 10px;
  height: 15vh;

  align-items: center;
  justify-content: space-evenly;
}

.logo {
  width: 100px;
  height: 80px;
  border-radius: 50%;
  padding: var(--ppk-padding-s);
}

.menudesplagble {
  display: none;
}

nav {
  display: flex;
  width: 80%;
  height: fit-content;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  gap: var(--ppk-gap-s);
  z-index: 200;
}
a {
  color: black;
}

li {
  font-size: 15px;
  text-align: center;
  padding: 20px;

  height: 50px !important;
  transition: transform 0.5s ease, border-bottom 0.5s ease;
}

li:hover:not(:has(.buttondiv)) {
  transform: scale(1.1);
}
.loginb {
  border: 2px solid black;
  border-radius: 30px;
  width: 100px !important;
  height: 30px;
  text-align: center;
  padding: 6px;
  font-size: 15px;
  display: inline-block;
  position: relative;
}
.registerb {
  width: 120px !important;
  background-color: black;
  color: white;
  height: 30px;
  font-size: 15px;
  position: relative;
  top: -12px;
  text-align: center;
  padding: 6px;
  border-radius: 30px;
  display: inline-block;
}
.buttondiv {
  display: flex;
  gap: var(--gg-gap-medium);

  width: 600px;
  justify-content: space-between;
  pointer-events: auto;
  height: 100%;
  position: relative;
  left: -40px;

  height: fit-content;
}

.buttondiv button {
  transition: none;
  pointer-events: auto;
  width: 100px;
  height: 40px;
  position: relative;
  top: 5px;
  border-radius: 30px;
  background-color: beige;
  font-size: 15px;
  transition: transform 0.5s ease-in;
}
.buttondiv button:hover {
  transform: scale(1.1);
  background-color: black;
  color: white;
}
.active {
  color: brown;
  font-weight: bolder;
}

/* Responsive styling for smaller screens */

@media (max-width: 952px) {
  .buttondiv {
    width: 400px;
  }
}
@media (max-width: 926px) {
  header {
    height: 15vh;
  }
}
@media (max-width: 920px) {
  .buttondiv {
    position: relative;
    left: 0px;
  }
  .menulist {
    width: 30%;
    left: 0px;
  }
}
@media (max-width: 817px) {
  .loginb {
    left: 0px;
  }
}
@media (max-width: 700px) {
  li {
    font-size: 15px;
  }
  .buttondiv {
    position: relative;
    left: 0px;
    width: 350px;
  }
}
@media (max-width: 590px) {
  .buttondiv {
    position: relative;
    left: 0px;
    justify-content: flex-start;
  }
}
@media (max-width: 664px) {
  header {
    justify-content: space-between;
  }

  .menudesplagble {
    display: block;
    width: 100px;
    height: 70px;
    border-radius: 50%;
    transition: transform 0.5s ease-in;
  }
  .buttondiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 200px;
  }
  .menudesplagble:active {
    transform: scale(0.9);
  }

  .nodisplay {
    display: none;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    align-content: center;
    height: 600px;
    position: absolute;
    top: 0px;
    gap: var(--gg-gap-l);
  }
  .buttondiv {
    position: absolute;
    top: 350px;
    left: -42px;
  }
  .menulist {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .menuvertical {
    display: flex;
    flex-direction: column;
    height: 100svh;
    width: 250px;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(201, 220, 236);
    z-index: 2;
    overflow: hidden;
  }
}
