.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  min-height: 85vh;
  height: 100%;

  align-content: center;
  padding: var(--ppk-padding-xl);
}
.formregister {
  display: flex;
  position: relative;
  top: 0px;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  justify-content: center;
  width: 100%;
  gap: var(--ppk-padding-l);
  flex-wrap: wrap;
  padding: var(--ppk-padding-l);
}
.successs {
  position: absolute;
  top: 200px;
}
.loading_img {
  width: 100px;
}
label {
  font-size: medium;
  font-style: italic;
  font-weight: bold;
}
input {
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 30px;
  text-align: center;
}
.general {
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 30px;
  background-color: rgb(0, 0, 0);
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.general:hover {
  background-color: rgb(255, 255, 255);
  color: black;
  transition: transform 0.5s;
  transform: scale(1.1);
}
button.general:active {
  transform: scale(1);
  background-color: #003f7f;
}
.goback {
  width: 150px;
  height: 50px;
  border: none;
  position: relative;
  top: 50px;

  border-radius: 30px;
  background-color: rgb(0, 0, 0);
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.goback:hover {
  background-color: rgb(255, 255, 255);
  color: black;
  transition: transform 0.5s;
  transform: scale(1.1);
}
@media (max-width: 522px) {
  input {
    width: 200px;
    height: 20px;
  }
}
