.activity-container {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  height: 500px;
  padding: var(--ppk-padding-m);
}
.activitydiv {
  display: flex;
  flex-direction: column;
  gap: var(--ppk-gap-m);
  align-items: center;
  width: 100%;
  justify-content: space-around;
  height: 100%;
  flex-wrap: wrap;
}
.buttons-container {
  display: flex;
  width: 600px;
  flex-wrap: wrap;
  padding: var(--ppk-padding-m);
  justify-content: center;
  gap: var(--ppk-gap-m);
}
.buttons-container button {
  width: 120px;
  height: 50px;
  border-radius: 30px;
  border: 2px double black;
  transition: all 0.5s ease-in-out;
}
.buttons-container button:hover {
  transform: scale(1.1);
  background-color: black;
  color: white;
}
.activity-container h1 {
  font-size: 50px;
}
.gobacka {
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 30px;
  background-color: rgb(0, 0, 0);
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.gobacka:hover {
  background-color: rgb(255, 255, 255);
  color: black;
  transition: transform 0.5s;
  transform: scale(1.1);
}
@media (max-width: 700px) {
  .activity-container h1 {
    font-size: 30px;
  }
}
@media (max-width: 580px) {
  .activitydiv {
    width: 300px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    display: flex;
  }
  .activity-container {
    max-width: 370px;
  }
  .buttons-container {
    align-items: center;
    justify-content: center;
    max-width: 300px;
  }
}
